<mat-toolbar color="primary" class="the-toolbar">
  <!-- <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button> -->
  <span (click)="goHome()">CornField</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
    *ngIf="tokenExists"
    (click)="logout()"
  >
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <!-- <img
    class="bg"
    src="https://static.vecteezy.com/system/resources/thumbnails/002/174/578/small/abstract-geometrical-shapes-connection-digital-communication-and-technology-network-background-vector.jpg"
  /> -->
  <!-- <mat-sidenav mode="side" opened>Sidenav content</mat-sidenav> -->
  <!-- <mat-sidenav-content>Main content</mat-sidenav-content> -->
  <router-outlet></router-outlet>
</mat-sidenav-container>
