<form class="theform" [formGroup]="passwordForm" (ngSubmit)="processForm()">
  <h1>Type in your New Password:</h1>
  <mat-form-field style="width: 350px">
    <mat-label>Email</mat-label>
    <input
      type="email"
      formControlName="email"
      matInput
      [value]="existingUserEmail"
    />
  </mat-form-field>
  <br />
  <mat-form-field style="width: 350px">
    <mat-label>New Password</mat-label>
    <input
      [type]="hide ? 'password' : 'text'"
      formControlName="password"
      matInput
    />
    <mat-icon style="color: grey" matSuffix (click)="hide = !hide">{{
      hide ? "visibility_off" : "visibility"
    }}</mat-icon>
  </mat-form-field>
  <br />
  <mat-form-field style="width: 350px">
    <mat-label>Confirm Password</mat-label>
    <input
      [type]="confirmhide ? 'password' : 'text'"
      formControlName="confirmpassword"
      matInput
    />
    <mat-icon
      style="color: grey"
      matSuffix
      (click)="confirmhide = !confirmhide"
      >{{ confirmhide ? "visibility_off" : "visibility" }}</mat-icon
    >
    <mat-hint class="mat-error" *ngIf="passwordTheSame == false"
      >The passwords do not match.</mat-hint
    >
  </mat-form-field>
  <br />
  <button
    type="submit"
    mat-flat-button
    color="primary"
    [disabled]="passwordForm.invalid || !passwordTheSame"
  >
    Change
  </button>
</form>
