<form class="theform" [formGroup]="resetForm" (ngSubmit)="sendToken()">
  <h1>Type in your email address:</h1>
  <mat-form-field style="width: 350px">
    <mat-label>Email</mat-label>
    <input type="email" formControlName="email" matInput />
    <mat-error *ngIf="resetForm.get('email')!.hasError('email')">
      Please enter a valid email address
    </mat-error>
    <mat-hint class="mat-error" *ngIf="emailValid == false"
      >This email does not exist.</mat-hint
    >
  </mat-form-field>
  <br />
  <button type="submit" [disabled]="submitted" mat-flat-button color="primary">
    Submit
  </button>
  <button
    type="button"
    [disabled]="canResend"
    mat-flat-button
    color="primary"
    (click)="sendToken()"
  >
    Resend
  </button>
  <p [innerText]="message"></p>
  <a style="color: white" [routerLink]="['/']"> Return to Login page</a>
</form>
<form
  class="theform"
  [formGroup]="verifyForm"
  *ngIf="submitted"
  (ngSubmit)="changePassword()"
>
  <mat-form-field style="width: 350px">
    <mat-label>Code</mat-label>
    <input type="text" formControlName="code" matInput />
  </mat-form-field>
  <br />
  <mat-form-field style="width: 350px">
    <mat-label>New Password</mat-label>
    <input
      [type]="hide ? 'password' : 'text'"
      formControlName="password"
      matInput
    />
    <mat-icon style="color: grey" matSuffix (click)="hide = !hide">{{
      hide ? "visibility_off" : "visibility"
    }}</mat-icon>
  </mat-form-field>
  <br />
  <button type="submit" [disabled]="!submitted" mat-flat-button color="primary">
    Change Password
  </button>
</form>
