<br />
<div class="example-card">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title
        >{{ displayName | uppercase }}, {{ theAge }}</mat-card-title
      >
      <mat-card-subtitle>{{ distance }}</mat-card-subtitle>
    </mat-card-header>
    <img
      style="
        height: 300px;
        width: 400px;

        object-fit: contain;
        margin: auto;
        background-color: grey;
      "
      mat-card-image
      src="{{ photourl }}"
      alt="Photo of Corn"
    />
    <mat-card-content>
      <p
        style="
          font-size: large;
          overflow-wrap: break-word;
          line-height: 32px;
          margin: 15px 0;
          white-space: pre-wrap;
        "
      >
        <!-- Hello there -->
        {{ summary }}
      </p>
      <hr />
      <p style="font-size: large; margin-top: 20px">Height: {{ height }} cm</p>
      <p style="font-size: large; margin-top: 20px">Weight: {{ weight }} kg</p>
      <p style="font-size: large; margin-top: 20px; margin-bottom: 20px">
        Smoking Habits: {{ isSmoking }}
      </p>
    </mat-card-content>
    <mat-card-actions class="center">
      <!-- <button mat-button>LIKE</button>
    <button mat-button>SHARE</button> -->
      <span> </span>
      <button
        mat-flat-button
        type="button"
        color="primary"
        [disabled]="profileId == null || distance != '' || checkedliao == true"
        (click)="processDistance()"
      >
        CHECK DISTANCE
      </button>
    </mat-card-actions>
  </mat-card>
  <br />
  <p>
    <button
      style="display: inline-block"
      type="button"
      mat-flat-button
      color="primary"
      [routerLink]="['/profile']"
    >
      Return to Profile
    </button>
  </p>
</div>
