.example-card {
  max-width: 400px;
  margin: 0 auto;
  /* text-align: center;/ */
}

.example-header-image {
  background-image: url("https://cdn-icons-png.flaticon.com/512/877/877698.png");
  background-color: gray;
  background-size: cover;
}

.center {
  margin: auto;
}
